.animController {
  position: absolute;
  width: 100dvw;
  height: 100%;
  z-index: -1;
  .animLayer {
    position: absolute;
    width: 100%;
    height: 100%;

    .cloudLayer {
      position: absolute;
      width: 100%;
      height: 100%;

      .cloud {
        background:
          linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.322) 40%,
            rgba(0, 0, 0, 0.685) 60%
          ),
          var(--img);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-mask-image: var(--img);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-image: var(--img);
        mask-size: contain;
        mask-repeat: no-repeat;
        position: fixed;
        inset: 0;
        aspect-ratio: auto;
      }
    }

    .grass {
      width: 100%;
      height: 100%;
      position: relative;
      bottom: -2px;
      svg {
        --wind-speed: 2s;
        --wind-bend: 5deg;
        position: absolute;
        bottom: -2px;
        fill: var(--clrGrass);
        transform-origin: bottom;
        animation: grassSway var(--wind-speed) ease-in-out infinite;
      }
    }
  }
}

:root[data-period="night"] .animLayer {
  background: linear-gradient(to bottom, #37343f, #4e4d4d);

  .grass {
    svg {
    }
  }
}

:root[data-weather="rain"] .animLayer {
}

@keyframes grassSway {
  0%,
  100% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(calc(-1 * var(--wind-bend)));
  }
}
