.animController {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  .cloudLayer {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      position: fixed;
      inset: 0;
    }
  }
}
