.weatherDisplay {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;
  overflow-y: hidden;

  .searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;

    .searchInput {
      font-size: var(--fs-lg);
      min-width: 0;
      border-radius: 0.5rem;
      padding: 0.3rem 0.5rem;
      z-index: 100;
      background-color: var(--clrTransBG);
    }
    .searchBtn {
      width: 2.3rem;
      height: 2.3rem;
      background-color: transparent;
      cursor: pointer;
      transition: transform 0.3s ease-in;
    }
    .searchBtn:hover {
      transform: scale(1.1);
    }
  }

  app-error {
    height: 3rem;
  }

  .locationDisplay {
    justify-items: center;
    padding: 0.3rem;
    z-index: 100;
    .text {
      font-size: var(--fs-lg);
      text-align: center;
    }
  }

  .cardDisplay {
    background-color: var(--clrTransBG);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    margin: auto 0;
    width: min(1000px, 100dvw);
    align-self: center;
    z-index: 100;

    .card {
      background-color: var(--clrTransBG);
      width: 100%;
      padding: 0.5rem;
      display: grid;
      grid-template: repeat(5, min-content) / auto min-content;
      align-items: center;

      .date {
        grid-area: 1/1/2/-1;
        .weekday {
          font-size: var(--fs-lg);
          font-weight: 700;
        }
        .monthDay {
          font-size: var(--fs-lg);
        }
      }
      .conditions {
        grid-area: 2/1/3/2;
        font-size: var(--fs-lg);
      }
      .tempsFeel {
        grid-area: 3/1/4/2;
      }
      .tempsActual {
        grid-area: 4/1/5/2;
      }
      .tempsFeel,
      .tempsActual {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .current,
        .lowHigh {
          font-size: var(--fs-lg);
        }
      }
      .wind {
        grid-area: 5/1/6/-1;
        display: flex;
        align-items: center;
        .direction {
          font-size: var(--fs-lg);
          margin-right: 1rem;
        }
        .avg {
          margin-right: 1rem;
        }
        .avg,
        .max {
          font-size: var(--fs-lg);
        }
        .avgIcon,
        .maxIcon {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.5rem;
        }
      }
      .otherData {
        grid-area: 2/2/-2/3;
        margin: 0.5rem 0;
        .label {
          font-size: var(--fs-md);
        }
        .value {
          font-size: var(--fs-lg);
          font-weight: 600;
        }
        .precip {
          .type {
            font-weight: 600;
            font-size: var(--fs-md);
          }
          white-space: nowrap;
        }
        .humidity {
        }
        .uvIndex {
        }
        .period {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          .sunrise,
          .sunset {
            font-size: var(--fs-base);
          }
          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }
}
