.weatherDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .card {
    width: 100%;
    display: grid;
    grid-template: repeat(5, min-content) / auto auto;

    .date {
      grid-area: 1/1/2/-1;
    }
    .conditions {
      grid-area: 2/1/3/2;
    }
    .tempsFeel {
      grid-area: 3/1/4/2;
    }
    .tempsActual {
      grid-area: 4/1/5/2;
    }
    .wind {
      grid-area: 5/1/6/2;
    }
    .otherData {
      grid-area: 2/2/-1/3;
      .period {
        display: flex;
        align-items: center;
        svg {
          width: 2rem;
        }
      }
    }
  }
}
