.weatherDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;

  .searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .searchInput {
      font-size: var(--fs-lg);
      min-width: 0;
      border-radius: 0.5rem;
      padding: 0.3rem 0.5rem;
    }
    .searchBtn {
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 0.5rem;
      padding: 0.2rem;
    }
  }

  app-error {
    height: 3rem;
  }

  .cardDisplay {
    background-color: rgba(0, 0, 0, 0.227);
    flex-grow: 1;

    .card {
      width: 100%;
      display: grid;
      grid-template: repeat(5, min-content) / auto auto;

      .date {
        grid-area: 1/1/2/-1;
      }
      .conditions {
        grid-area: 2/1/3/2;
      }
      .tempsFeel {
        grid-area: 3/1/4/2;
      }
      .tempsActual {
        grid-area: 4/1/5/2;
      }
      .wind {
        grid-area: 5/1/6/2;
      }
      .otherData {
        grid-area: 2/2/-1/3;
        .period {
          display: flex;
          align-items: center;
          svg {
            width: 2rem;
          }
        }
      }
    }
  }
}
