body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(77, 77, 77);

  #content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(1000px, 90dvw);
    position: relative;

    .appTitle {
      font-size: var(--fs-xl);
      margin: 1rem;
    }
  }

  footer {
    background-color: var(--clrGrass);
    width: 100dvw;
    color: aliceblue;
    justify-items: center;
    padding: 1rem 0 0.5rem 0;
  }
}
