body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  background-color: rgb(77, 77, 77);

  #content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;

    .appTitle {
      margin: 1rem;
      h1 {
        font-size: var(--fs-4xl);
      }
    }
  }

  footer {
    background-color: var(--clrGrassBottom);
    width: 100dvw;
    justify-items: center;
    padding: 1rem 0 0.5rem 0;
  }
}
